{% extends 'base.html.twig' %}

{% block title %}Home !{% endblock %}

{% block body %}
<style>
    .ligne {
        display: flex;
        justify-content: space-around;
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .greenfire {
        min-width: 90vw;
        min-height: 10vh;
        background-color: green;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .orangefire {
        min-width: 90vw;
        min-height: 10vh;
        background-color: orange;
        color: white;
        display: flex;
        justify-content: center;
    }

    .redfire {
        min-width: 90vw;
        min-height: 10vh;
        background-color: red;
        color: white;
        display: flex;
        justify-content: center;
    }

    .capsule {
        border: 2px solid black;
        border-radius: 10px;
        margin-top: 1em;
    }

    .alerte {
        margin-bottom: 2em;
    }

    .presentationUser {
        display: flex;
        justify-content: center;
    }
</style>

<!-- Copyright © 2014 Monotype Imaging Inc. All rights reserved -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boosted@4.4.1/dist/css/orangeHelvetica.min.css"
    integrity="sha384-e8MwV9etVvzgFAywWdlyEtXAdRYElY+BlimyrAcXkDiyJXy4oIZZqrV/ST605uwF" crossorigin="anonymous">
<!-- Copyright © 2016 Orange SA. All rights reserved -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boosted@4.4.1/dist/css/orangeIcons.min.css"
    integrity="sha384-Zd5WIT6PZ7YtONlsULMAoLWo0iJi5GPix2LFrMhPQjMYjBA0FhvsKInWdLKM+9nW" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boosted@4.4.1/dist/css/boosted.min.css"
    integrity="sha384-OB/gcmnjN4zOvILOKtMqzd/ZUoKc/cgZDpn0c2C5FoQAJqmQdjX4ITe6XSK32JyO" crossorigin="anonymous">
<section class='container-fluid'>



    <!--title-->

    <div class='col-12 ligne'>
        <h3>Prise d'appel pour le groupe</h3>
    </div>

    {% for team in user.teams %}



    {% if  team.state  == 'green' %}

    <div class="alert alert-success" role="alert">
        <span class="alert-icon"><span class="sr-only">Equipe :{{team.id}}</span></span>
        <p>Equipe {{team.id}} : Pas de consigne de pause.</p>
    </div>
    {% endif %}

    {% if  team.state  == 'red' %}

    <div class="alert alert-danger" role="alert">
        <span class="alert-icon"><span class="sr-only">Danger</span></span>
        <p>Equipe  <span>{{team.id}}</span> :  Interdiction de prendre les pauses sauf urgence.</p>
    </div>
    {% endif %}

    {% if  team.state  == 'orange' %}

    <div class="alert alert-warning" role="alert">
        <span class="alert-icon"><span class="sr-only">Warning</span></span>
        <p>Equipe <span>{{team.id}}</span> : Reporter si possible vos pause.</p>
    </div>

    {% endif %}

    {% if user.activity == "Manager" %}
    <div class="ligne">
        <a href="{{ path('modifyTeam', { 'id': team.id }) }}" class="btn btn-primary">Modifier</a>
    </div>
    {% endif %}
    
    {% endfor %}

    {% for team in user.teams %}

    {%  endfor %}
</section>

<section class='container-fluid '>

    <!--retard et abscence ne concerne que manager d'ou le if-->
    {% if user.activity == "Manager" %}
    <div class="ligne col-12" style="margin-top: 1em;">
        <h3>Retard et abscence</h3>
    </div>
    <!--http://localhost:8000/home-->

    <div id="retard" class="row"></div>
    {% endif %}

    <div class="ligne col-12">
        <h3>Annonce</h3>
    </div>

    <div id="NEWS" class="row"></div>


</section>

<script>


    //balise pour les retards
    let retard = document.querySelector('#retard');
    //balise pour les news
    let newsid = document.querySelector('#NEWS');

    let br = document.createElement("br")

    let aa = 0;




    //dans un setInterval pour pouvoir ajouter les informations avec un délai régulier

    function urgentpublish() {
        fetch('http://localhost:8000/urgent/fetch').then(response => response.json()).
            then(data => {
                retard.innerHTML = "";
                //console.log('essaie' + data.id)
                //utiliser les donnée.s récupérer pour les assigner à des balises via querySelector

                //loop 
                for (let i = 0; i < data.length; i++) {
                    //condition pour ne faire apparaitre le post de la dernière journée
                    if (data[i].date.substr(0, 10) == data[data.length - 1].date.substr(0, 10)) {
                    //substr retourne les donnés de 0 à 10 inversé pour afficher la date
                        let date = data[data.length - 1].date;
                        
                        //var n = d.toLocaleDateString();
                        //var n = d.toLocaleDateString();

                        console.log(data[i].id)
                        console.log(data[i].date)
                        //let ddate=data[i].slice(0, 10); 
                        //console.log(ddate);
                        let ddate = data[i].date.substr(0, 10)
                        console.log(ddate)
                        //manipulation pour obtenir la date dans le bon format
                        var fdate = ddate.slice(8, 10) + '/'
                            + date.slice(5, 7) + '/'
                            + date.slice(0, 4);
                        console.log(fdate);
                        //console.log("raccourcie de l'heure"+ date.toLocaleDateString());

                        //faire un document.createElement du type que tu veux (p, div ...) et le stocker dans une variable

                        //retard.appendChild(newDiv);
                        //let newContent = document.textContent( Personne en retard : ${data[i].user.name}, raison: ${data[i].motif}  );

                        let newDiv = document.createElement("div");
                        //ajout des classes
                        newDiv.classList.add("capsule");
                        //newDiv.classList.add("list-group-item");
                        newDiv.classList.add("col-12");
                        newDiv.classList.add("col-lg-4");
                        retard.appendChild(newDiv);

                        let newDivDate = document.createElement("div");
                        newDiv.appendChild(newDivDate);
                        newDivDate.textContent = "Date : " + fdate; //+reverseString(data[data.length - 1].date); //.substr(0, 10); ;


                        //div pour mettre le user
                        let newDivUser = document.createElement("div");
                        newDiv.appendChild(newDivUser);
                        newDivUser.textContent = " Nom :  " + data[i].user.name;
                        //div pour mettre la date


                        //pour mettre le motif
                        let newDivMotif = document.createElement("div");

                        newDivMotif.textContent = " Motif :  " + data[i].motif;
                        //newDiv.textContent = newContent;
                        newDiv.appendChild(newDivMotif);

                        // pour les minutes de retard
                        let newDivDelay = document.createElement("div");
                        newDivDelay.textContent = " Retard de :  " + data[i].timedelay + "mn";
                        //newDiv.textContent = newContent;
                        newDiv.appendChild(newDivDelay);

                        // pour les raisons
                        let newDivContent = document.createElement("div");
                        newDivContent.textContent = " Explication:  " + data[i].content;
                        //newDiv.textContent = newContent;
                        newDiv.appendChild(newDivContent);


                        //faire un appendChild sur retard en lui donnant en argument l'élément créé précédement
                    }//end if 
                }//end of for


            })//end of fetch
        // }, 6000);

    }



    //partie news

    //création d'une fonction newsPublish

    function newsPublish() {

        fetch('http://localhost:8000/new').then(response => response.json()).
            then(data => {


                //utiliser les donnée.s récupérer pour les assigner à des balises via querySelector

                for (let i = 0; i < data.length; i++) {
                    if (data[i].date.substr(0, 10) == data[data.length - 1].date.substr(0, 10)) {
                        let date = data[data.length - 1].date;

                        let newDiv = document.createElement("div");
                        newDiv.classList.add("capsule");
                        //newDiv.classList.add("list-group-item");
                        newDiv.classList.add("col-12");
                        newDiv.classList.add("col-lg-4");
                        newsid.appendChild(newDiv);
                        let ddate = data[i].date.substr(0, 10)
                        var fdate = ddate.slice(8, 10) + '/'
                            + date.slice(5, 7) + '/'
                            + date.slice(0, 4);
                        console.log(fdate);

                        let newDivDate = document.createElement("div");
                        newDiv.appendChild(newDivDate);
                        newDivDate.textContent = "Date : " + fdate; //+reverseString(data[data.length - 1].date); //.substr(0, 10); ;

                        let newDivUser = document.createElement("div");
                        newDiv.appendChild(newDivUser);
                        newDivUser.textContent = " Nom :  " + data[i].user.name;


                        let newDivContent = document.createElement("div");
                        newDivContent.textContent = " Sujet:  " + data[i].content;
                        newDiv.appendChild(newDivContent);

                    }
                }

            })
    }

    //enclencher les fonctions au début de chargement 

    window.onload = function () {
        urgentpublish();
        newsPublish();
        return true;
    }

    setInterval(function () { urgentpublish() }, 10000);

</script>

{% endblock %}