{% extends 'base.html.twig' %}

{% block title %}Retard et abscence!{% endblock %}

{% block body %}

<style>
    .forme {
        display: flex;
        justify-content: center;
    }


    .row{margin-top:2em;}
    .widget{height: 3em;}
    .creer{margin-top:3em;}
</style>
<div class="row">

</div> {{form_start(form)}}

<div class='col-12 widget'>
    <div class="largeur">{{form_widget(form.motif)}}</div>
</div>
<a class='col-12'>Temps de retard</a>
<div>
    <div class='col-12 widget'>{{form_widget(form.timedelay)}}</div>
</div>
<a class='col-12'>Commentaire</a>
<div>
    <div class='col-12 widget'>{{form_widget(form.content,{ 'attr': {'height': '15em'} })}}</div>
</div>

<div class="col-12 forme">

    <button class="creer btn btn-primary">Créer</button>
    {{form_end(form)}}
</div>

</div>






{% endblock %}