<!DOCTYPE html>
<!--éléments identique dans toute les page-->
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <!-- if you need ajax or effects
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.1/js/jquery.tablesorter.min.js"
        integrity="sha384-QnFIXbEfAgO7z63b/aNzTSdSNLoNiNX/mk/Ok+NpUNMnvriWLo5cOtB0OUCAdKNu"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"
        integrity="sha384-fOtis9P3S4B2asdoye1/YBpXMaRmuXu925gZhfQA/gnU3dLnftD8zvpk/lhP0YSG"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/boosted@4.4.1/dist/js/boosted.min.js"
        integrity="sha384-Y/0NjLXRerXrg7jzex/E5ONTjY9VxGnhnsY0dVw12hlg/0XlAJFjh1biCQfdWI1R"
        crossorigin="anonymous"></script>

    {% endblock %}
</head>

<body>
    <!--
    <style


    <style>


    

        .orange {
            display: flex;
            justify-content: center;
            align-self: flex-end;
        }

        #head {
            display: flex;
            justify-content: space-between
        }

        .tabapp {
            display: flex;
            justify-content: center;
            margin-top: 2em;
            flex-direction:  column;
        }
     /* tabapp concerne le contenu situé dessous le */
        .feu {
            background-color: green;
            height: 1em;
            min-width: 100hw;
        }

        .btn{
            position: relative;
            top: 0;
            right: 0;
        }
        .widget{min-width: 100vw;}
    </style>
    -->
    <style>
        #head {
            display: flex;
            justify-content: space-between;
            margin-bottom: 2em;
        }

        .logo {
            color: whitesmoke;
            background-color: orange;
            max-width: 5em;
            min-width: 5em;
            max-height: 5em;
            min-height: 5em;
            display: flex;
            justify-content: center;
            align-self: flex-end;

        }

        .capsule {
            border: 1px solid orange;
            border-radius: 10px;
            margin-bottom: 2em;

        }

        .centre {
            display: flex;
            justify-content: space-around;
        }

        .presentationUser {
            display: flex;
            justify-content: center;

        }

        .input {
            min-height: 5em;
            max-height: 5em;
        }
    </style>
    <!-- Copyright © 2014 Monotype Imaging Inc. All rights reserved -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boosted@4.4.1/dist/css/orangeHelvetica.min.css"
        integrity="sha384-e8MwV9etVvzgFAywWdlyEtXAdRYElY+BlimyrAcXkDiyJXy4oIZZqrV/ST605uwF" crossorigin="anonymous">
    <!-- Copyright © 2016 Orange SA. All rights reserved -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boosted@4.4.1/dist/css/orangeIcons.min.css"
        integrity="sha384-Zd5WIT6PZ7YtONlsULMAoLWo0iJi5GPix2LFrMhPQjMYjBA0FhvsKInWdLKM+9nW" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boosted@4.4.1/dist/css/boosted.min.css"
        integrity="sha384-OB/gcmnjN4zOvILOKtMqzd/ZUoKc/cgZDpn0c2C5FoQAJqmQdjX4ITe6XSK32JyO" crossorigin="anonymous">
    <section class='container-fluid'>

        <section id="head" class='row col-8 col-lg-12'>

            <div class='logo'>
                <img src="https://c.orange.fr/logo-orange.png">
            </div>



            <div class="btn-group">
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Action
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{path('home')}}">Home</a>
                    {% if user.roles[0]=='ROLE_ADMIN' %}
                    <a class="dropdown-item" href="{{path('register')}}">Ajouter salarié</a>
                    <a class="dropdown-item" href="{{path('team')}}">Gérer équipes</a>
                    {% endif %}
                    <a class="dropdown-item" href="{{path('urgent')}}">Retard ou Abscence</a>
                    <a class="dropdown-item" href="{{path('news')}}">News</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{path('logout')}}">Deconnexion</a>
                </div>
            </div>

        </section>

        <div class="capsule list-group-item ">

            {% if app.user %}


            <div class="col-12 presentationUser">
                <a>Bonjour :</a> {{app.user.firstName}}
            </div>

            <div class="col-12 presentationUser">
                <div>Identifant : </div> {{app.user.username}}

            </div>
            {% endif %}
        </div>

        {% block body %}


        {% endblock %}
        {% block javascripts %}{% endblock %}
</body>

</html>