{% extends 'base.html.twig' %}
{%  block body %}
<style>
    .misenforme{
        display: flex;
        justify-content: center;
        margin-top: 7em;
    }
</style>

<div  class="miseforme">
<a>L'utilisateur <span>{{user.name}}</span> est retiré de  l'équipe : <span>{{team.id}}</span></a>


</div>

<div class="misenforme">
    <a href="{{ path('team')}}" class="btn btn-primary"> Gérer équipe </a>
</div>

{% endblock %}