{% extends 'base.html.twig' %}

{% block title %}Hello TeamController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .centre{display:flex;justify-content: center;}
</style>


<div>
    <div class="centre col-12 ">
    <h3>
        Modification du status de l'équipe
    </h3>
    </div>

    {#  
<a>nom de la rubrique </a>
<div>{{form_widget suivis du form.rubrique }}</div>
#}
    <div class="my-custom-class-for-errors">

</div>
<div class=" centre row">
    <div class="col-lg-2 col-12">
{{form_start(form)}}
{{form_widget(form)}}
<div class="centre col-12 ">
    <button class="btn btn-primary">Modifier</button>
</div>

{{form_end(form)}}
</div>
</div>
<h3></h3>


{% endblock %}
