{% extends 'base.html.twig' %}

{% block title %}Together Actualité!{% endblock %}

{% block body %}

<style>
    .centre {
        display: flex;
        justify-content: center;
    }

    .btn-primary {
        margin-top: 2em;
    }

    .add{margin-top:2em;}
</style>

{{form_start(form)}}
<h3 class='col-12 centre'>Commentaire</h3>
<div class="">
    <div class='col-12 widget input'>{{form_widget(form.content, {'attr': {'class': 'input'}} ) }}</div>
</div>

<div class="centre">
    <button class="btn btn-primary add">Ajouter</button>
</div>
{{form_end(form)}}

{% endblock %}