{% extends 'base.html.twig' %}
{# prend pour model, base.html.twig #}

{% block title %}Résiliation!{% endblock %}

{% block body %}
<style>
    
</style>




<div class="row container-fluid">

    <div class="marge col-12">
        <h5>Membre résilié.</h5> 
    </div>



    <div class="marge col-12">
        <a href= "{{ path('team')}}" class="btn btn-primary" >  Retour à l'équipe    </a>
    </div>
    
</div>
{% endblock %}