



{% block title %}{% endblock %}

{% block body %}


<head>
    <meta charset="UTF-8">
    
    {% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% endblock %}
</head>

<style>
    .centre{display:flex; justify-content:center; 
    margin-bottom: 2em;    }
    img{max-width: 12em ; min-width: 12em; max-height: 12em; min-height: 12em;
    }
    .username{display:flex; flex-direction:column;}
    .bouton{margin-top: 1em; max-height: 5em; }
</style>

<div class='row'>




{% if errors %}
    <div>{{ errors.messageKey|trans(errors.messageData, 'security') }}</div>
{% endif %}


<div class="container-fluid row">
<section  class='col-12   centre' >
    <h2>Together</h2>
</section>

<section class='col-12  col-lg-6 centre'>
    
    <img  src="https://c.orange.fr/logo-orange.png">
</section>

<section class='col-12  col-lg-6 centre '>

<form class="username" action="{{path('login')}}" method="post">
    <label for="username">Identifiant : </label>
    <input type="username" name="_username" id="username" value="{{username}}">

    <label for="password">Password : </label>
    <input type="password" name="_password" id="password">

    <input type="hidden" name="_target_path" value="{{path('home')}}"/>
    <!--input path ('home') transfert vers home une fois valider-->
    <button class="bouton ">Login</button>
</form>

</section>

</div><!--container fluid-->
{% endblock %}
