{% extends 'base.html.twig' %}
{# prend pour model, base.html.twig #}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    
</style>

<div class='container-fluid'>

    
    {{form_start(form)}}
    {{form_widget(form)}}
    <button class="btn btn-primary">Modifier</button>
    {{form_end(form)}}
    


</div> 
{% endblock %}