{% extends 'base.html.twig' %}
{# prend pour model, base.html.twig #}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .bouton {
        display: flex;
        justify-content: center;
        margin-top: 2em;
    }

    .everyline {
        min-width: 100vw;
        min-height: 2em;
        display: flex;
        justify-content: center;
    }

    .row{display:flex;
    justify-content: center;}
</style>

<div class='container-fluid'>
    <div class="row">

        <section class="center">

            {{form_start(form)}}

            <div class="my-custom-class-for-errors">
                {{ form_errors(form) }}
            </div>

            <div class=" col-6">
                <a>Identifiant</a>
            </div>
            <div class='col-6 widget'>{{form_widget(form.username)}}</div>
            <a class='col-12'>Mot de passe</a>
            <div class='col-12 widget'>{{form_widget(form.password)}}</div>
            <a class='col-12'>Activité</a>
            <div class='col-12 widget'>{{form_widget(form.activity)}}</div>
            <a class='col-12'>Nom</a>
            <div class='col-12 widget'>{{form_widget(form.name)}}</div>
            <a class='col-12'>Prénom</a>
            <div class='col-12 widget'>{{form_widget(form.firstname)}}</div>
            <a class='col-12'>Mail</a>
            <div class='col-12 widget'>{{form_widget(form.mail)}}</div>
            <a class='col-12'>Portable</a>
            <div class='col-12 widget'>{{form_widget(form.mobile)}}</div>
            <a class='col-12'>Place</a>
            <div class='col-12 widget'>{{form_widget(form.location)}}</div>

            <div class="col-12 bouton ">
                <button class="btn btn-primary">ajouter</button>
            </div>

            {{form_end(form)}}

        

    </div>
</div>
<!--end of container fluid-->
{% endblock %}