{% extends 'base.html.twig' %}

{% block body  %}

{#  block de présentation du manager , le user est celui obtenu grace au getuser #}
<section id="managerPresentation" class="col-12">

    <div class='col-12 card'>
        <h5>Vous</h5>
        <ul>
            <li>{{user.name}}</li>
            <li>{{user.username}}</li>
            <li>{{user.firstName}}</li>
            <li>{{user.roles[0]}}</li>
            <li>{{user.activity}}</li>
            <a href="{{ path('modify', { 'id': user.id }) }}" class="btn btn-primary"> Modifier </a>
            </br>
            <h6>Votre/vos équipe(s)</h6>

            {#présentation de toute les équipes#}
            {% for team in user.teams %}
            <li>Team {{team.id}}</li>
            <a href="{{ path('erase', {   'user': user.id, 'team': team.id }) }} " class="btn btn-primary"> Retirer
                de l'équipe
                {{team.id}}</a>
            {% endfor %}

            <li>Equipe disponible</li>
            {% for team in teams %}
            <a href="{{ path('userteam', {   'user': user.id, 'team': team.id }) }}" class="btn btn-primary">
                Ajouter à l'équipe
                {{team.id}}
            </a>
            {% endfor %}

        </ul>


    </div>
    <!--manager presentation-->

</section>

<section class='row'>

    <h5 class="col-12">Liste des salariés : </h5>

    {# créer une boucle pour chaque user/salarié #}


    {% for user in users %}


    <div class="col-lg-3 col-md-6col-sm-12">
        <div class="card" style="width: 100">

            <div class="card-body">
                <h5 class="card-title">{{user.name}} {{user.firstName}}</h5>
                <li>{{user.name}}</li>
                <li>{{user.username}}</li>
                <li>{{user.firstName}}</li>
                <li>{{user.roles[0]}}</li>
                <li>{{user.activity}}</li>
                <a href="{{ path('modify', { 'id': user.id }) }}" class="btn btn-primary">Modifier</a>
                <a href="{{ path('efface', { 'id': user.id }) }}" class="btn btn-primary">Effacer</a>


                {#affichage des equipes du user#}
                {% for team in user.teams %}
                <li>Team {{team.id}}</li>

                <a href="{{ path('erase', {   'user': user.id, 'team': team.id }) }} " class="btn btn-primary"> Retirer
                    de l'équipe
                    {{team.id}}</a>

                {% endfor %}
                {# fin de la loop #}

                <li>Autre équipes</li>

                {#rubrique pour rattacher user et team dans une relation many to many#}
                {# <select name="team" value=""></select>  #}

                {# Faire la boucle pour afficher toutes les teams en tant qu'option #}
                {% for team in teams %}
                {#  <option value="">{{team.id}}</option>  #}

                <a href="{{ path('userteam', {   'user': user.id, 'team': team.id }) }}" class="btn btn-primary">
                    Ajouter à l'équipe
                    {{team.id}}
                </a>

                {% endfor %}
            </div>
        </div>

        {# Le formulaire va devoir envoyer sur une route #}
        <form action="">


            {# loop pour afficher les equipes de chaque#}




            {#affichage des equipes#}

            {# fin de la loop #}

            {# lien pour chaque user pour mener a une route avec conservation de l'id#}



            {#rubrique pour rattacher user et team dans une relation many to many#}
            {# <select name="team" value=""></select>  #}

            {# Faire la boucle pour afficher toutes les teams en tant qu'option #}


            {#fin du endfor de team#}
            </select>
        </form>
    </div>

    {% endfor %}
    {# fin endfor du user#}

    </ul>
</section>

{% endblock %}