{% extends 'base.html.twig' %}


{% block body  %}
<style>
    .misenforme{
        display: flex;
        justify-content: center;
        margin-top: 7em;
    }
</style>

<div  class="miseforme">
<a>L'utilisateur <span>{{user.name}}</span> est désormais attaché à l'équipe : <span>{{team.id}}</span></a>


</div>

<div class="misenforme">
    <a href="{{ path('team')}}" class="btn btn-primary"> Gérer équipe </a>
</div>






{% for team  in teams %}
{{team.id}}
{% endfor %}
{% endblock %}
